
@font-face {
  font-family: 'FiraSansCondensed-Book';
  src: url('FiraSansCondensed-Book.eot?#iefix') format('embedded-opentype'),  url('FiraSansCondensed-Book.woff') format('woff'), url('FiraSansCondensed-Book.ttf')  format('truetype'), url('FiraSansCondensed-Book.svg#FiraSansCondensed-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
