
@font-face {
  font-family: 'FiraSans-Book';
  src: url('FiraSans-Book.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Book.woff') format('woff'), url('FiraSans-Book.ttf')  format('truetype'), url('FiraSans-Book.svg#FiraSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
